<div>
  <mat-card class="card-style">
    <mat-card-actions fxLayoutAlign="end">
        <img src="assets/img/outline_create_black_24dp.png" (click)="onEdit()" class="pointer">
    </mat-card-actions>
    <mat-card-title><ngx-avatar name="{{contact.firstName}} {{contact.lastName}}" fxLayoutAlign="center center"></ngx-avatar></mat-card-title>
    <mat-card-content>
      <h4 fxLayoutAlign="center center">
        {{contact.firstName}} {{contact.lastName}}
      </h4>
    </mat-card-content>
    <mat-card-content fxLayoutAlign="center center"><img src="assets/img/outline_place_black_24dp.png">
      {{contact.address}} </mat-card-content>
    <mat-card-content fxLayoutAlign="center center"><img src="assets/img/outline_home_black_24dp.png">
      {{contact.postalCode}} {{contact.city}} </mat-card-content>
    <mat-card-content fxLayoutAlign="center center"><img src="assets/img/outline_email_black_24dp.png">
      {{contact.email}} </mat-card-content>
    <mat-card-content fxLayoutAlign="center center"><img src="assets/img/outline_phone_black_24dp.png">
      {{contact.phoneNumber}} </mat-card-content>
    <mat-card-actions fxLayoutAlign="end">
      <img src="assets/img/outline_place_black_24dp.png" (click)="navigateToMap()" class="pointer" >
      <img src="assets/img/outline_delete_black_24dp.png" (click)="removeContact()" class="pointer">
    </mat-card-actions>
  </mat-card>
</div>
